# Documentation available at:
# https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=Snap! Websites snapwatchdog daemon
After=snapbase.service snapcommunicator.service snapfirewall.service snapdbproxy.service

[Service]
Type=simple
WorkingDirectory=~
ProtectHome=true
# WARNING: we start sendmail from postfix and our snapmta, in the first case
#          it requires postdrop as a group and in the second case it becomes
#          root when it wants to save an email in /var/mail/root--so the
#          result is that we need to allow changes in privileges
NoNewPrivileges=false
ExecStart=/usr/sbin/snapwatchdogserver
ExecStop=/usr/bin/snapstop --timeout 180 --service "$MAINPID"
Restart=on-failure
RestartSec=1min
User=snapwebsites
Group=snapwebsites
LimitNPROC=1000
# For developers and administrators to get console output
#StandardOutput=tty
#StandardError=tty
#TTYPath=/dev/console
# Enter a size to get a core dump in case of a crash
#LimitCORE=10G

[Install]
WantedBy=multi-user.target

# vim: syntax=dosini
