/*
 * Name: password
 * Version: 0.0.1.3
 * Browsers: all
 * Copyright: Copyright 2014-2017 (c) Made to Order Software Corporation  All rights reverved.
 * License: GPL 2.0
 */

/** PASSWORD CONFIRM */
.editable.line-edit.password_confirm_widget .editor-content.no-hover
{
	height: auto;
}

.editable.password_confirm_widget
{
	border: none;
}

.editable.password_confirm_widget div.password-status-details
{
	border: 1px solid #006600;
	border-radius: 5px;
	background-color: #e0c0c0;
	padding: 0 10px;
	font-size: 80%;
	font-style: italic;
}

.editable.password_confirm_widget div.password-status-details.good
{
	background-color: #c0f0c0;
}
