/*
 * Name: snapmanagercgi.css
 * Layout: default
 * Version: 0.6
 * Browsers: all
 * Copyright: Copyright 2017-2018 (c) Made to Order Software Inc.
 * License: GPLv2
 */

body
{
    font-family: sans;
    margin: 0;
    padding: 70px 0 0 0;
    background: #dedede;
}
header
{
    background-color: #f0f0f0;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    display: flex;
}
body > h1
{
    padding-left: 20px;
}
.ui-widget-content a
{
    color: blue;
}
.ui-widget-content a:visited
{
    color: purple;
}
.ui-widget-content a:hover
{
    color: red;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited
{
    /* jquery-ui.css set this one to white, which on bright yellow does not
     * work well.
     */
    color: black;
}
#menu
{
    flex: none;
    background: transparent;
    /*padding-left: 10px;*/
    margin-top: 10px;
    margin-left: 10px;
}
#menu.ui-menu .ui-menu-item-wrapper
{
    padding: 0;
}
#menu.ui-widget-content a
{
    display: block;
    padding: 0.6em;
    color: black;
    text-decoration: none;
}
#menu .ui-state-active a
{
    /* however in this case it's no a dark blue background in the menu
     */
    color: white;
}
ul.menu.ui-widget-content
{
    border: none;
}
ul.menu li.menu-item
{
    float: left;
}
div.access-warning
{
    width: 80%;
    margin: 20px auto;
    border: 1px solid red;
    background: #ffe0e0;
    padding: 10px;
    padding-bottom: 0;
}
div.access-warning div.access-title
{
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}
div.snap-version
{
    text-align: center;
    flex: auto;
    padding: 10px 10px 0 10px;
}
div.snap-version .menu-status
{
    font-size: 60%;
}
div.wait
{
    flex: none;
    padding-top: 5px;
    padding-right: 5px;
}
#tabs
{
    background-color: #dedede;
    border: none;
}
/* for a plugin to just generate an error page, the main page does not manage errors that way */
#tabs.error
{
    background-color: #dec0b8;
    border: 1px solid red;
    margin: 0 20px 20px 20px;
    padding: 20px;
}
#tabs li.ui-tab
{
    border-width: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#tabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor
{
    float: none;
    display: block;
}
#tabs.ui-tabs .ui-widget-header
{
    background-color: #dedede;
    border: none;
}
#tabs.ui-tabs .ui-tabs-panel
{
    background-color: white;
}
#tabs table.server-status
{
    background-color: white;
}
#tabs.ui-tabs .ui-tabs-nav li
{
    /* avoid margin for better effect of bottom border,
     * although this somewhat breaks the left & right borders
     */
    margin-right: 0;
}
#tabs ul.ui-widget-header li.ui-state-default
{
    background-color: #eee;
}
#tabs ul.ui-widget-header li.ui-state-default.ui-state-hover:not(.ui-state-active)
{
    background-color: #ffd;
}
#tabs ul.ui-widget-header li.ui-state-active
{
    border-color: white;
    border-bottom: none;
    background-color: white;
    padding-top: 2px;
}
#tabs ul.ui-widget-header li.ui-state-active a
{
    outline: none;
}
table
{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
}
table th
{
    background-color: #e0e0e0;
}
table th,
table td
{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 3px;
    vertical-align: top;
}
table .errors td
{
    border-bottom: 1px solid red;
    border-right: 1px solid red;
}
table tr.modified,
a.modified
{
    background-color: #d6b2ff;
}
table tr.highlight,
#tabs ul.ui-widget-header li.highlight.ui-state-active,
#tabs.ui-tabs div.highlight.ui-tabs-panel
{
    background-color: #fff881;
}
#tabs.ui-widget-content li.highlight.ui-state-default
{
    background-color: #e6df74;
}
#tabs ul.ui-widget-header li.highlight.ui-state-active
{
    border-color: #fff881;
}
table tr.warnings,
#tabs ul.ui-widget-header li.warnings.ui-state-active,
#tabs.ui-tabs div.warnings.ui-tabs-panel
{
    background-color: #ffde9f;
}
#tabs.ui-widget-content li.warnings.ui-state-default
{
    background-color: #e6c88f;
}
#tabs ul.ui-widget-header li.warnings.ui-state-active
{
    border-color: #ffde9f;
}
table tr.errors,
#tabs ul.ui-widget-header li.errors.ui-state-active,
#tabs.ui-tabs div.errors.ui-tabs-panel
{
    background-color: #ffd8d8;
}
#tabs.ui-widget-content li.errors.ui-state-default
{
    background-color: #e6c2c2;
}
#tabs ul.ui-widget-header li.errors.ui-state-active
{
    border-color: #ffd8d8;
}
table tr.errors
{
    border-left: 1px solid red;
}
table tr.down
{
    background-color: #ffdede;
    text-decoration: line-through;
}
#tabs.ui-widget-content li.highlight.ui-state-default.ui-state-hover:not(.ui-tabs-active),
#tabs.ui-widget-content li.warnings.ui-state-default.ui-state-hover:not(.ui-tabs-active),
#tabs.ui-widget-content li.errors.ui-state-default.ui-state-hover:not(.ui-tabs-active)
{
    background-color: #ffd;
}
label
{
    font-weight: bold;
    display: block;
}
input[type="input"]
{
    width: calc(100% - 20px);
}
button
{
    margin: 5px 10px;
}
#feedback
{
    display: none; /* by default this is hidden */
    position: fixed;
    x-index: 2; /* over the header if necessary */
    bottom: 0;
    right: 0;
    width: auto;
    max-width: 500px;
    height: auto;
    background-color: #f0e0e0;
    border-left: 2px solid #c66;
    border-top: 2px solid #c66;
}
#feedback .titlebar
{
    display: flex;
    background: #bbb;
    border-bottom: 1px solid black;
}
#feedback .titlebar .title
{
    flex: auto;
    padding: 5px;
    padding-right: 15px;
}
#feedback .titlebar .close-button
{
    flex: 0 0 20px;
    text-align: center;
    padding: 5px;
    border-left: 1px solid black;
    cursor: pointer;
}
#feedback .titlebar .close-button:hover
{
    background-color: #def;
}
#feedback .message-list
{
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
#feedback .feedback-message
{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    color: #440000;
}
#feedback .feedback-message.error
{
    border: 1px solid red;
    color: #cc0000;
}
#feedback .feedback-message.warning
{
    border: 1px solid orange;
    color: #880000;
}

/* vim: ts=4 sw=4 et
 */
