/*
 * Name: snapmanagercgi.css
 * Layout: default
 * Version: 0.5
 * Browsers: all
 * Copyright: Copyright 2017-2018 (c) Made to Order Software Inc.
 * License: GPLv2
 */

body
{
    font-family: sans;
    margin: 0;
    padding: 70px 0 0 0;
}
header
{
    background-color: #f0f0f0;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    display: flex;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited
{
    /* jquery-ui.css set this one to white, which on bright yellow does not
     * work well.
     */
    color: black;
}
.ui-state-active a:hover
{
    /* however in this case it's no a dark blue background in the menu
     */
    color: white;
}
ul.menu
{
}
ul.menu.ui-widget-content
{
    border: none;
}
ul.menu li.menu-item
{
    float: left;
    padding-top: 15px;
}
div.access-warning
{
    width: 80%;
    margin: 20px auto;
    border: 1px solid red;
    background: #ffe0e0;
    padding: 10px;
    padding-bottom: 0;
}
ul#menu
{
    flex: none;
    background: transparent;
    padding-left: 10px;
}
div.snap-version
{
    text-align: center;
    flex: auto;
    padding: 20px;
}
div.wait
{
    flex: none;
    padding-top: 5px;
    padding-right: 5px;
}
div.access-warning div.access-title
{
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}
table
{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
}
table th
{
    background-color: #e0e0e0;
}
table th,
table td
{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 3px;
    vertical-align: top;
}
table .errors td
{
    border-bottom: 1px solid red;
    border-right: 1px solid red;
}
table tr.modified,
a.modified
{
    background-color: #d6b2ff;
}
table tr.highlight,
a.highlight
{
    background-color: #fff881;
}
table tr.warnings,
a.warnings
{
    background-color: #ffde9f;
}
table tr.down,
a.down
{
    background-color: #ffdede;
    text-decoration: line-through;
}
table tr.errors,
a.errors
{
    background-color: #ffd8d8;
    border-left: 1px solid red;
}
label
{
    font-weight: bold;
    display: block;
}
input[type="input"]
{
    width: calc(100% - 20px);
}
button
{
    margin: 5px 10px;
}

/* vim: ts=4 sw=4 et
 */
