/*
 * Name: epayment-stripe
 * Version: 0.0.1.3
 * Browsers: all
 * Copyright: Copyright 2016-2017 (c) Made to Order Software Corporation  All rights reverved.
 * License: GPL 2.0
 */

.epayment_stripe-process-buttons .epayment_stripe-cancel,
.epayment_stripe-process-buttons .epayment_stripe-process
{
	display: block;
	padding: 10px 30px;
	border: 1px solid #000000;
	border-radius: 7px;
	color: black;
	text-shadow: 0 0 6px #ffffff, 2px 2px 2px #886619;
	text-decoration: none;
	font-weight: bold;
}

.epayment_stripe-process-buttons .epayment_stripe-cancel
{
	float: left;
	background-color: #fbea2f;
	background: linear-gradient(to bottom, #ff3d3d, #fb2f2f 25%, #fb2f2f 85%, #c42727);
	text-shadow: 0 0 6px #ff5858, 2px 2px 2px #883309;
}

.epayment_stripe-process-buttons .epayment_stripe-process
{
	float: right;
	background-color: #fbea2f;
	background: linear-gradient(to bottom, #fff79f, #fbea2f 25%, #fbea2f 85%, #c4b727);
}

