# Documentation available at:
# https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=Snap! Websites list journal backend
After=snapcommunicator.service snapfirewall.service snaplock.service snapdbproxy.service

[Service]
Type=simple
WorkingDirectory=~
ProtectHome=true
ExecStart=/usr/sbin/snapbackend --cron-action list::listjournal
ExecStop=/usr/bin/snapstop --service $MAINPID
Restart=on-failure
RestartSec=5min
User=snapwebsites
Group=snapwebsites
Nice=3
LimitNPROC=1000
# For developers and administrators to get console output
#StandardOutput=tty
#StandardError=tty
#TTYPath=/dev/console
# Enter a size to get a core dump in case of a crash
#LimitCORE=10G

[Install]
# Note: this one backend we want to have it enabled by default so we keep
#       the WantedBy=... definition
#
WantedBy=multi-user.target

# vim: syntax=dosini
