# Documentation available at:
# https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=Snap! Websites pagelist backend
After=snapcommunicator.service snapfirewall.service snaplock.service snapdbproxy.service

[Service]
Type=simple
WorkingDirectory=~
ProtectHome=true
NoNewPrivileges=true
ExecStart=/usr/sbin/snapbackend --cron-action list::pagelist
ExecStop=/usr/bin/snapstop --service "$MAINPID"
Restart=on-failure
RestartSec=5min
User=snapwebsites
Group=snapwebsites
Nice=3
LimitNPROC=1000
# For developers and administrators to get console output
#StandardOutput=tty
#StandardError=tty
#TTYPath=/dev/console
# Enter a size to get a core dump in case of a crash
#LimitCORE=10G

[Install]
# WARNING:
#  We do not want to have this backend running on installation, so we cannot
#  have a WantedBy=... definition for it.
#
#  This causes few side effects:
#
#    1. We don't have to disable the service after installation,
#       it is disabled by default.
#
#    2. We have to use a special command to enable this service properly,
#       namely, do this:
#
#       sudo systemctl add-wants multi-user.target snappagelist.service
#
#    3. To start and stop, you do the same
#
#    4. To disable you do the same, just remember that deletes a link that
#       systemd does not know about so you have to explicitly recreate it as
#       in point (2).
#
#WantedBy=multi-user.target

# vim: syntax=dosini
